<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Hammock" version="1.2.3" />
  <package id="Newtonsoft.Json" version="4.0.1" />
  <package id="TweetSharp" version="2.0.7" />
  <package id="linqtotwitter" version="2.0.20" />
  <package id="RhinoMocks" version="3.6" />
  <package id="AutoMapper" version="1.1.0.118" />
</packages>